PORT=YOUR PORT NUMBER
DATABASE_URL=YOUR DATABASE CONNECT STRING
APP_URL=yOUR APP URL
SALT_ROUNDS=YOUR SALT ROUND
JWT_ACCESS_SECRET=YOUR ACCESS SECRET
JWT_REFRESH_SECRET=YOUR REFRESH SECRET
JWT_REFRESH_EXPIRESIN=YOUR REFRESH EXPIRES DEADLINE
STRIPE_SCERET_KEY=YOUR STRIPE SECRET KEY
STRIPE_WEBHOOK_SECRET=YOUR STRIPE WEBHOOK SECRET